.detail-event > div {
  margin-bottom: 2rem;
}
.detail-event > div > div {
  display: flex;
  align-items: center;
}

.detail-event >  div:last-child {
  margin-bottom: 0;
}

.detail-event >  div:last-child > div {
  border-bottom: none!important;
}

.detail-event > div > div > img {
 width: 30%;
}

.detail-event > div > div > div > p {
  padding: 0.5rem;
  font-size: 1.2;
}
.detail-event > div > div > div > a {
  text-decoration: none;
  color: #fff;
  padding: 0.7rem 2rem;
  font-weight: 500;
  font-size: 1.2rem;
  background-color: var(--primary-color );
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
}