.content-hero {
  display: grid;
  grid-template-rows: 3.5fr 0.5fr;
  width: 100%;
  height: 100vh;
}

.content-hero-1 {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(134, 206, 206, 1) 65%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.icon-munas {
  width: 100%;
}
.icon-president {
  grid-area: 1 / 2 / 2 / 3;
}

.icon-munas-mobile {
  display: none;
}

.icon-munas {
  display: block;
}

.content-hero-1 h2 {
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.content-hero-1 h3 {
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.content-hero-1 h2:first-child {
  font-size: 4rem;
  font-weight: 600;
}

.img-content1 {
  display: flex;
  justify-content: center;
  position: relative;
}

.img-content1 img {
  height: 8rem;
}

.img-content1 img:first-child {
  height: 8rem;
  padding-right: 4rem;
}

.icon-president img {
  width: 100%;
}

.content-2 {
  height: 500px;
}

.container {
  padding: 2rem 3rem;
  margin: 0 10rem;
}

.title-event {
  text-align: center;
}

.title-event h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0;
}

.card-display:hover {
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.sponsorship {
  background-color: var(--sponsor-color);
  white-space: nowrap;
}

.sponsorship .container .title-event p {
  font-size: 1rem;
  font-weight: 500;
}

.container-event {
  padding: 0rem 3rem 0 3rem;
  padding: 2rem 0;
  margin: 0 20rem;
}

.sponsorship .title-event a {
  font-weight: bold;
  padding-bottom: 1rem;
}

.video-pengurus {
  display: flex;
  justify-content: center;
}

.content-munas {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-gap: 5rem;
  text-align: justify;
  margin-bottom: 2rem;
}

.content-munas:nth-child(3) {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-gap: 5rem;
  text-align: justify;
}

.content-munas .evoting img {
  width: 23rem;
}
.pengurus {
  white-space: nowrap;
  padding-bottom: 1rem;
  background-color: var(--sponsor-color);
}

.video-pengurus iframe {
  width: 700;
  height: 395;
}

.sponsorship .container .title-event:first-child {
  padding-bottom: 2rem;
}

#munas .title-event h2 {
  padding-bottom: 2rem;
  text-align: start;
}

#munas .title-event:last-child h2 {
  padding-bottom: 2rem;
  text-align: start;
}

.question img {
  width: 24rem;
}

.text h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text p {
  font-size: 1rem;
}

.yel {
  margin-top: 2rem;
  text-align: center;
}

.yel h3 {
  font-size: 3rem;
  font-family: 'Permanent Marker', cursive;
  font-weight: 700;
  color: red;
}

.podcast-pengurus {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 6rem;
}

.podcast-pengurus iframe{
  margin-bottom: 1rem;
}

.podcast-footer {
  margin-top: 1rem;
  text-align: center;
}

.podcast-footer a{
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}

.podcast-footer a:hover {
  text-decoration: underline;
  font-weight: 600;
}



@media screen and (max-width: 700px) {
  svg {
    display: none;
  }
  .icon-munas-mobile {
    display: block;
    width: 50%;
    font-size: 2rem;
  }

  .icon-munas {
    display: none;
  }

  .container-event {
    margin: 0rem 0rem!important;
    width: 100%;
  }

  .container {
    padding: 1rem 1rem;
    margin: 0 0rem;
  }

  .video-pengurus iframe {
    width: 100%!important;
    height: 15rem!important;
  }

  .icon-president {
    display: none !important;
  }

  .content-hero-1 h2:first-child {
    font-size: 2rem;
    font-weight: 600;
  }

  .content-hero-1 {
    padding-bottom: 2rem;
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
}

  .content-hero-1 h2 {
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .content-hero {
    text-align: center;
    display: block;
    align-self: center;
    height: 100%;
    padding: 4rem 0 2rem 0;
  }

  .content-hero-1 h3 {
    font-weight: 500;
    font-size: 0.8rem;
    margin-bottom: 1rem;
  }

  .sponsorship .container .title-event p {
    font-size: 0.8rem;
    font-weight: 500;
  }

  .sponsorship .container .title-event a {
    font-size: 0.8rem;
    font-weight: 600;
  }

  .img-content1 img {
    height: 5rem!important;
    padding-right: 1rem;
  }

  .title-event h2 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }

  .content-munas {
    font-size: 0.8rem;
  }

  .content-munas {
    display: flex;
    flex-direction: column;
    grid-gap: 0;
  }
  
  .content-munas:nth-child(3) {
    display: flex;
    flex-direction: column-reverse;
    grid-gap: 0;
  }
  .question, .evoting {
    text-align: center;
  }
  .question img {
    width: 20rem;
  }

  .evoting img {
    width: 20rem!important;
  }

  .text h3 {
    font-size: 1rem!important;
  } 

  .text p {
    font-size: 0.85rem!important;
  }

  .yel h3 {
    font-size: 1.5rem;
  }

  .podcast-pengurus {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 0rem;
  }

  .podcast-footer a{
    font-size: 0.85rem;
    text-decoration: underline;
  }

  .sponsor-content img {
    margin-bottom: 1rem;
}

}

@media screen and (max-width: 900px) {
  svg {
    display: none;
  }
  .icon-munas-mobile {
    display: block;
    width: 50%;
    font-size: 2rem;
  }

  .icon-munas {
    display: none;
  }

  .container-event {
    margin: 0rem 0rem!important;
  }

  .container {
    padding: 1rem 1rem;
    margin: 0 0rem;
  }

  .video-pengurus iframe {
    width: 80%;
    height: calc(400px / 1.5);;
  }

  .icon-president {
    display: none !important;
  }

  .content-hero-1 h2:first-child {
    font-size: 2rem;
    font-weight: 600;
  }

  .content-hero-1 {
    padding-bottom: 2rem;
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
}

  .content-hero-1 h2 {
    font-weight: 500;
    margin-bottom: 1rem;
  }

  .content-hero {
    text-align: center;
    display: block;
    align-self: center;
    height: 100%;
    padding: 4rem 0 2rem 0;
  }

  .content-hero-1 h3 {
    font-weight: 500;
    font-size: 0.8rem;
    margin-bottom: 1rem;
  }

  .sponsorship .container .title-event p {
    font-size: 0.8rem;
    font-weight: 500;
  }

  .sponsorship .container .title-event a {
    font-size: 0.8rem;
    font-weight: 600;
  }

  .img-content1 img {
    height: 5rem!important;
    padding-right: 1rem;
  }

  .title-event h2 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }

  .content-munas {
    font-size: 0.8rem;
  }

  .content-munas {
    display: flex;
    flex-direction: column;
    grid-gap: 0;
  }
  
  .content-munas:nth-child(3) {
    display: flex;
    flex-direction: column-reverse;
    grid-gap: 0;
  }
  .question, .evoting {
    text-align: center;
  }
  .question img {
    width: 20rem;
  }

  .evoting img {
    width: 20rem!important;
  }

  .text h3 {
    font-size: 1rem!important;
  } 

  .text p {
    font-size: 0.85rem!important;
  }

  .yel h3 {
    font-size: 1.5rem;
  }

  .podcast-pengurus {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 0rem;
  }

  .podcast-footer a{
    font-size: 0.85rem;
    text-decoration: underline;
  }

  .sponsor-content img {
    margin-bottom: 1rem;
}

}

@media screen and (max-width: 1200px) {
  svg {
    display: none;
  }

  .container-event {
    margin: 0rem 3rem;
  }

  .container {
    padding: 1rem 1rem;
    margin: 0 2rem;
  }

  .icon-president {
    display: none !important;
  }

  .content-hero-1 h2:first-child {
    font-size: 2rem;
    font-weight: 600;
  }

  .content-hero-1 {
    padding-bottom: 2rem;
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
}

  .content-hero-1 h2 {
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .content-hero {
    text-align: center;
    display: block;
    align-self: center;
    height: 100%;
    padding: 4rem 0 2rem 0;
  }

  .content-hero-1 h3 {
    font-weight: 500;
    font-size: 0.8rem;
    margin-bottom: 1rem;
  }

  .sponsorship .container .title-event p {
    font-size: 0.8rem;
    font-weight: 500;
  }

  .sponsorship .container .title-event a {
    font-size: 0.8rem;
    font-weight: 600;
  }

  .img-content1 img {
    height: 6.5rem;
    padding-right: 1rem;
  }

  .title-event h2 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }

  .content-munas {
    font-size: 0.8rem;
  }
/*
  .content-munas {
    display: flex;
    flex-direction: column;
    grid-gap: 0;
  }
  */
  /*.content-munas:nth-child(3) {
    display: flex;
    flex-direction: column-reverse;
    grid-gap: 0;
  }*/
  .question, .evoting {
    text-align: center;
  }
  .question img {
    width: 20rem;
  }

  .evoting img {
    width: 20rem!important;
  }

  .text h3 {
    font-size: 1rem!important;
  } 

  .text p {
    font-size: 0.85rem!important;
  }

  .yel h3 {
    font-size: 1.5rem;
  }

  .podcast-pengurus {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 0rem;
  }

  .podcast-footer a{
    font-size: 0.85rem;
    text-decoration: underline;
  }

  .sponsor-content img {
    margin-bottom: 1rem;
}

}

@media screen and (max-width: 1500px) {
  .container-event {
    margin: 0rem 5rem;
  }

  .container {
    padding: 1rem 1rem;
    margin: 0 auto;
  }

}
