.header img {
  width: 100%;
  height: 100%;
  -webkit-border-bottom-right-radius: 100px;
-webkit-border-bottom-left-radius: 100px;
-moz-border-radius-bottomright: 100px;
-moz-border-radius-bottomleft: 100px;
border-bottom-right-radius: 100px;
border-bottom-left-radius: 100px;
}


.drop-down {
  display: none;
}

@media screen and (max-width: 700px) {
  .drop-down {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
  }

  .drop-down p{
   font-size: 0.8rem;
   justify-self: end;
   align-self: center;
  }


}

@media screen and (max-width: 900px) {
  .drop-down {
    display: grid;
    grid-template-columns: 0.4fr 1fr;
  }

  .drop-down p{
   font-size: 1rem;
   justify-self: end;
   align-self: center;
  }


}

@media screen and (max-width: 1200px) {


}