

.header img {
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 6rem;
  border-bottom-left-radius: 6rem;
}

.contentBody {
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 1fr 1fr; 
  gap: 0px 0px; 
  width: 100%; 
  height: 100%; 
  padding: 1rem;
}

.body {
  padding: 1rem 2rem 2rem 2rem;
}

.body h2 {
  font-size: 2.5rem;
  margin: 2rem 0rem;
  padding: 0rem 2rem;
}

.contentBody div {
  justify-self: center;
}

.contentBody div:last-child {
  justify-self: start;
}

.contentBody div h4{
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-align: left;
}

.contactPerson h3{
  font-size: 1.1rem;
  margin-bottom: 0.4rem;
}

.contactPerson .person1 p, 
.contactPerson .person2 p, 
.contactPerson .person3 p{
  font-size: 1.2rem!important ;
 font-weight: normal!important;
 letter-spacing: 0.05rem;
}

.contactPerson .person1, 
.contactPerson .person2 {
 margin-bottom: 1rem;
}

.contactPerson span  {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.3rem;
}

.contactPerson span i{
  font-size: 1rem;
  margin-right: 0.5rem;
}

.person1, .person2, .person3 {
  min-width: 20rem ;
  background-color: #ffff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

small {
  color:red; 
  font-weight: 500; 
  font-size: 0.8rem;
}

@media screen and (max-width: 700px) {
  .body {
    padding: 1rem 1rem 1rem 1rem;
  }
  .header img {
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
  }
  .contentBody {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .body h2 {
    font-size: 1.5rem;
    margin: 1rem 0rem;
    padding: 0rem 1rem;
    margin-top: 0;
  }
  .contactPerson .person1 p, 
.contactPerson .person2 p, 
.contactPerson .person3 p{
  font-size: 0.85rem!important ;
}
.contactPerson h3{
  font-size: 1rem;
}

small {
  font-size: 0.7rem;
}

.contentBody div h4{
  margin: 1rem 0;
}
}