header {
  z-index: 999;
  position: fixed;
  display: flex;
  width: 87%;
  justify-content: center;
  padding: 1rem 5rem;
  
}
nav {
  z-index: 999; 
 width: 100%;
 
}
nav > div {
  padding: 0.5rem 1rem;
  background: #FFFFFF;
box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1);
border-radius: 6px;
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
width: 100%;
}

.nav-menu {
  justify-self: flex-end;
  align-self: center;
}

.nav-container h4{
  color: #000;
  
}

.nav-container img{
  position: relative;
  height: 3.5rem;
  margin-right: 0.8rem;
}

.nav-menu ul{
  display: flex;
  list-style: none;
  justify-content: flex-start;
  margin: 0;
  width: auto;
}

.nav-menu li a{
  text-decoration: none!important;
  font-weight: 500;
  font-size: 1rem;
  color: #898989;
  position: relative;
  padding-bottom: 0.2rem;
  margin-right: 2rem;
}

.active > a{
  border-bottom: 0.2rem solid var(--primary-color);
  color: #000000!important;
}


.scroll_color {
 

 color: #898989 ;

 transition: 0.5s ease-in-out;
 z-index: 4;
 -webkit-transition: 0.5s ease-in-out;
 -moz-transition: 0.5s ease-in-out;
 -ms-transition: 0.5s ease-in-out;
 -o-transition: 0.5s ease-in-out;
}

.scroll_color .nav-container h4, .scroll_color .nav-menu li a {
  transition: 0.5s ease-in-out;
  color: #898989 ;
 }

.no-scroll {
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}

.bar1, .bar2, .bar3 {
  width: 1.5rem;
  height: 0.15rem;
  background-color: #333;
  margin: 0.3rem 0;
  transition: 0.4s;
}

.bar-menu {
  display: none;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-1.5px, 5px) ;
  transform: rotate(-45deg) translate(-1.5px, 5px) ;
  -moz-transform: rotate(-45deg) translate(-1.5px, 5px) ;
  -ms-transform: rotate(-45deg) translate(-1.5px, 5px) ;
  -o-transform: rotate(-45deg) translate(-1.5px, 5px) ;
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-4.5px, -8px) ;
  transform: rotate(45deg) translate(-4.5px, -8px) ;
  -moz-transform: rotate(45deg) translate(-4.5px, -8px) ;
  -ms-transform: rotate(45deg) translate(-4.5px, -8px) ;
  -o-transform: rotate(45deg) translate(-4.5px, -8px) ;
}


@media screen and (max-width: 1200px) {

  header {
    width: 82%;

  }
  
}

@media screen and (max-width: 900px) {

  header {
    width: 97%;
    padding: 0;

  }
  nav > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0.5rem 0.8rem!important;
  }

  .nav-container img{
    position: relative;
    height: 2rem;
    margin-right: 0.5rem;
  
  }

  .nav-container h4{
    font-size: 0.7rem;
  }

  .bar-menu {
    display: block;
    position: relative;
    justify-self: end;
  }

  .nav-responsive {
    display: block;
  }
  .nav-responsive ul{
    display: flex;
    list-style: none;
    flex-direction: column;
    margin: 0;
    width: auto;
  }
  .nav-menu ul{
    position: fixed;
    left: 42%;
    top: 3rem;
    flex-direction: column;
    background-color: #fff;
    width: 60%;
    text-align: center;
    transition: 0.3s;
    box-shadow:
        0 10px 27px rgba(0, 0, 0, 0.05);
}


  .hidden {
    display: none;
  }

  .active a{
    border-bottom: 0.2rem solid var(--primary-color);
  }

  .nav-menu ul li{
   padding: 1rem;
  }

  .nav-menu ul li a{
    margin-right: 0;
    font-size: 0.85rem;
   }

  
}

@media screen and (max-width: 700px) {
  header {
    width: 95%;
    padding: 0;

  }
  nav > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0.5rem 0.8rem!important;
  }


  .nav-container img{
    position: relative;
    height: 2rem;
    margin-right: 0.5rem;
  
  }

  .nav-container h4{
    font-size: 0.7rem;
  }

  .bar-menu {
    display: block;
    position: relative;
    justify-self: end;
  }

  .nav-responsive {
    display: block;
  }
  .nav-responsive ul{
    display: flex;
    list-style: none;
    flex-direction: column;
    margin: 0;
    width: auto;
  }
  .nav-menu ul{
    position: fixed;
    left: 42%;
    top: 3rem;
    flex-direction: column;
    background-color: #fff;
    width: 60%;
    text-align: center;
    transition: 0.3s;
    box-shadow:
        0 10px 27px rgba(0, 0, 0, 0.05);
}


  .hidden {
    display: none;
  }

  .active a{
    border-bottom: 0.2rem solid var(--primary-color);
  }

  .nav-menu ul li{
   padding: 1rem;
  }

  .nav-menu ul li a{
    margin-right: 0;
    font-size: 0.85rem;
   }

}
