.tabHeader {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;  
  height: 100%;
  margin: 0 auto;
  width: 70%;
}

.item {
  justify-self: center;
  align-self: center;
}

.item {
  justify-self: center;
  align-self: center;
  padding: 1rem 1rem 0.4rem 1rem;
  width: 10rem;
  cursor: pointer;
}

.item p{
  text-align: center;
}

.itemActive {
  
  /*background-color: #ff1616;*/
  /*-webkit-box-shadow: 1px 3px 24px 5px rgba(114,114,114,0.73); 
  box-shadow: 1px 3px 24px 5px rgba(114,114,114,0.73);*/
  border-bottom: 0.2rem solid var(--primary-color);
  color: #0000;
  /*border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;*/
}
.itemActive p{
  color: black;
  font-weight: bold;
}

p{
  font-weight: 500;
}