.tabHeader {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;  
  height: 100%;
  margin: 0 auto;
}

.item {
  justify-self: center;
  align-self: center;
}

.item {
  justify-self: center;
  align-self: center;
  padding: 1rem 1rem 0.4rem 1rem;
  width: 10rem;
  cursor: pointer;
}

.item p{
  text-align: center;
}

.itemActive {
  border-bottom: 0.2rem solid var(--primary-color);
  color: #0000;
}
.itemActive p{
  color: black;
  font-weight: bold;
}

p{
  font-weight: 500;
}

.item p:hover{
  font-weight: bold;
}

@media screen and (max-width: 700px) {
  /*.item p{
    font-size: 0.6rem;
  }

  .item {
    padding: 0rem 0.8rem 0rem 0.8rem;
    width: 70%;
  }

  .tabHeader {
    margin: 0 auto;
  }

  .itemActive {
    border-bottom: 0.1rem solid var(--primary-color);
    color: #0000;
  }

  .itemActive p{
    font-weight: 600;
  }*/
  .tabHeader {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .tabHeader {
    display: none;
  }
}


@media screen and (max-width: 1200px) {
  .item p{
    font-size: 1rem;
  }

  .item {
    padding: 0rem 1rem 0rem 1rem;
    width: 8rem;
  }

  .tabHeader {
    margin: 0 auto;
  }

  .itemActive {
    border-bottom: 0.1rem solid var(--primary-color);
    color: #0000;
  }

  .itemActive p{
    font-weight: 600;
  }
}