body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  animation: fade-in 0.5s ease-in-out;
}

:root {
  --primary-color: #DF7415;
  --second-color: #CBEFEF;
  --sponsor-color: #F9FAFB;
  font-size: 16px;
}

header {
  grid-area: header;
}

.main {
  grid-area: main;
  height: 100%;
}

footer {
  grid-area: footer;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

