
  @media screen and (max-width: 700px) {
    .css-wmw4vi-ReactDropdownSelect {
      width: 80%!important;
      height: 1.5rem;
      min-height: 0!important;
      margin: 1rem 1rem;
    }

    .css-1njzwg6-InputComponent {
      font-size: 0.8rem!important;
    }
    
    span {
      font-size: 0.8rem;
    }
  }

  @media screen and (max-width: 900px) {
    .css-wmw4vi-ReactDropdownSelect {
      width: 80%!important;
      height: 1.5rem;
      min-height: 0!important;
      margin: 1rem 1rem;
    }

    .css-1njzwg6-InputComponent {
      font-size: 1rem!important;
    }
    
    span {
      font-size: 1rem;
    }
  }