.sponsor-content > section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.sponsor-content > section > h5 {
 font-weight: normal;
}

.sponsor-content > section:nth-child(1) > div > section > img {
  width: 8rem;
}

.sponsor-content > section:nth-child(1) > div > section:nth-child(4) > img {
  width: 4rem;
}

.sponsor-content > section:nth-child(1) > div > section:nth-child(5) > img {
  width: 10rem;
}

.sponsor-content > section:nth-child(2) > div > section > img {
  width: 6rem;
}

.sponsor-content > section:nth-child(2) > div > section:nth-child(4) > img {
  width: 12rem;
}

.sponsor-content > section:nth-child(3) > div > section:first-child > img {
  width: 10rem;
}

.sponsor-content > section:nth-child(3) > div > section:nth-child(2) > img {
  width: 8rem;
}

.sponsor-content > section:nth-child(3) > div > section:nth-child(3) > img {
  width: 8rem;
}
.sponsor-content > section:nth-child(3) > div > section:nth-child(4) > img {
  width: 6rem;
}

.sponsor-content > section > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.sponsor-content > section > div > section > img {
  width: 4rem;
  margin-right: 1rem;
}

.sponsor-content > section:nth-child(4) > div > section:nth-child(2) > img,
.sponsor-content > section:nth-child(4) > div > section:nth-child(3) > img,
.sponsor-content > section:nth-child(4) > div > section:nth-child(5) > img {
  width: 6rem;
}

.sponsor-content > section > div > section:last-child > img {
  margin-right: 0rem;
}


.sponsor-content > section:nth-child(5) > div > section:nth-child(7) > img,
.sponsor-content > section:nth-child(5) > div > section:nth-child(8) > img,
.sponsor-content > section:nth-child(5) > div > section:nth-child(9) > img,
.sponsor-content > section:nth-child(5) > div > section:nth-child(11) > img {
  width: 6rem;
}

.sponsor-content section {
  padding: 1rem 0.8rem;
}

@media screen and (max-width: 900px) {
  .sponsor-content img {
    width: 3rem;
    margin-right: 0;
  }

  .sponsor-content > section:nth-child(1) > div > section > img {
    width: 5rem;
    margin-right: 0;
  }

  .sponsor-content > section:nth-child(1) > div > section:nth-child(5) > img {
    width: 6rem;
  }

  .sponsor-content > section:nth-child(2) > div > section:nth-child(4) > img {
    width: 10rem;
  }

  .sponsor-content > section:nth-child(2) > div > section > img {
    width: 4rem;
    margin-right: 0;
  }

  .sponsor-content > section:nth-child(1) > div > section:nth-child(4) > img {
    width: 2rem;
  }

  .sponsor-content > section:nth-child(4) > div > section:nth-child(2) > img,
.sponsor-content > section:nth-child(4) > div > section:nth-child(3) > img,
.sponsor-content > section:nth-child(4) > div > section:nth-child(5) > img {
  width: 6rem;
}

.sponsor-content > section:nth-child(3) > div > section:first-child > img {
  width: 8rem;
}

.sponsor-content > section:nth-child(3) > div > section:nth-child(2) > img {
  width: 6rem;
}

.sponsor-content > section:nth-child(3) > div > section:nth-child(3) > img {
  width: 6rem;
}

.sponsor-content > section:nth-child(3) > div > section:nth-child(4) > img {
  width: 4rem;
}


  .sponsor-content > section > h5 {
    font-size: 1rem;
   }
}

@media screen and (max-width: 700px) {
  .sponsor-content img {
    width: 3rem;
    margin-right: 0;
  }

  .sponsor-content > section:nth-child(1) > div > section > img {
    width: 5rem;
    margin-right: 0;
  }

  .sponsor-content > section:nth-child(1) > div > section:nth-child(5) > img {
    width: 6rem;
  }

  .sponsor-content > section:nth-child(2) > div > section:nth-child(4) > img {
    width: 10rem;
  }

  .sponsor-content > section:nth-child(1) > div > section:nth-child(4) > img {
    width: 2rem;
  }

  .sponsor-content > section:nth-child(2) > div > section > img {
    width: 4rem;
    margin-right: 0;
  }

  .sponsor-content > section:nth-child(4) > div > section:nth-child(2) > img,
.sponsor-content > section:nth-child(4) > div > section:nth-child(3) > img,
.sponsor-content > section:nth-child(4) > div > section:nth-child(5) > img > img {
  width: 6rem;
}

.sponsor-content > section:nth-child(3) > div > section:first-child > img {
  width: 8rem;
}

.sponsor-content > section:nth-child(3) > div > section:nth-child(2) > img {
  width: 6rem;
}
.sponsor-content > section:nth-child(3) > div > section:nth-child(3) > img {
  width: 6rem;
}

.sponsor-content > section:nth-child(3) > div > section:nth-child(4) > img {
  width: 4rem;
}

  .sponsor-content > section > h5 {
    font-size: 1rem;
   }
}